<style>
    #content-blocks-{{forloop.index0}}{
        background-color: {{item.colors.background-color}}
    }
 
    #content-blocks-{{forloop.index0}} .column{
        padding: 1%;
        border-right: 0.9px solid {{item.colors.border-color}};
    }

    #content-blocks-{{forloop.index0}} .column:last-child{
        border-right: none;
    }

    #content-blocks-{{forloop.index0}} h3{
        color: {{item.colors.heading}};
        font-size: 2rem;
        padding-left: 3%;
        margin-bottom: 1rem;
    }
    #content-blocks-{{forloop.index0}} h5{
        color: {{item.colors.column-heading}};
        font-size: 1.5rem;
        font-weight: 300;
    }

    #content-blocks-{{forloop.index0}} hr{
        
        width: 25%;
        margin-top: -6%;
        margin-bottom: 8%;
        border: 0.9px solid {{item.colors.border-color}};
    }

    #content-blocks-{{forloop.index0}} p{
        color: {{item.colors.text}};
    }

    /* Mobile Styles */

.xs-mob-show, .mob-show, .tabelet-show, .large-show{
  display: none; 
}

  @media(min-width:1920px){
  .large-hide { display: none; }
  .large-show { display: block; }

  }

  /* -md */
  @media(max-width: 1024px){


  }

  @media(max-width: 990px){

    #content-blocks-{{forloop.index0}} h5 {
        font-size: 1.5rem;

    }



  }

  @media(max-width: 850px){



  }

  /* -sm */
  @media(max-width: 768px){
  .tablet-hide { display: none; }
  .tablet-show { display: block; }

  }

  @media(max-width: 660px){

    #content-blocks-{{forloop.index0}} .padded-sides {
            padding: 0% 2%;
        }


  }

  /* -xs */
  @media(max-width:576px){
  .mob-hide { display: none; }
  .mob-show { display: block; }

  #content-blocks-{{forloop.index0}} .column:nth-child(2){
        border-right: none;
    }
    #content-blocks-{{forloop.index0}} .column{
        margin-bottom: 1rem;
    }

    #content-blocks-{{forloop.index0}} h3{
        font-size: 2rem;
    }

  
  }


  @media(max-width: 450px){
  .xs-mob-hide { display: none; }
  .xs-mob-show { display: block; }
  
  
  }

  @media(max-width: 400px){


  }

  @media(max-width: 350px){


  }

</style>

<section id="content-blocks-{{forloop.index0}}">
    <section class = "grid-right padded-sides" id = "{{item.content-block-id}}">
        <section class = "col-11-right_sm-12">
            <h3 class = "text-right">{{item.heading}}</h3>
            <div class = "grid-right">
                {% for column in item.column limit: 4 %}
                <div class = "col-3_xs-6 column">
                    <h5>{{column.column-heading}}</h5>
                    <hr>
                    <p>{{column.textarea_html}}</p>
                </div>
                {% endfor %}

            </div>
            
        </section>
        
    </section>
</section>