<section id="content-blocks-{{forloop.index0}}">
    <section class = "" id = "{{item.content-block-id}}">
        
    </section>
</section>

/* Mobile Styles */

.xs-mob-show, .mob-show, .tabelet-show, .large-show{
  display: none; 
}

  @media(min-width:1920px){
  .large-hide { display: none; }
  .large-show { display: block; }

  }

  /* -md */
  @media(max-width: 1024px){


  }

  @media(max-width: 990px){



  }

  @media(max-width: 850px){



  }

  /* -sm */
  @media(max-width: 768px){
  .tablet-hide { display: none; }
  .tablet-show { display: block; }

  }

  @media(max-width: 660px){


  }

  /* -xs */
  @media(max-width:576px){
  .mob-hide { display: none; }
  .mob-show { display: block; }

  
  }


  @media(max-width: 450px){
  .xs-mob-hide { display: none; }
  .xs-mob-show { display: block; }
  
  
  }

  @media(max-width: 400px){


  }

  @media(max-width: 350px){


  }