<style>
    #content-blocks-{{forloop.index0}} {
        background-color: {{item.colors.section-background-color}};
    }
    #content-blocks-{{forloop.index0}} .bg-image{
        padding-bottom: 20rem;
        background-size: contain;
        margin: 0.5rem;
    }

    #content-blocks-{{forloop.index0}} .bg-testimonial{
        padding: 10% 10%;
        background-color: {{item.colors.testimonial-background-color}};
    }

    #content-blocks-{{forloop.index0}} h3{
        font-size: 1.5rem;
        color: {{item.colors.client-name}};


    }
    #content-blocks-{{forloop.index0}} hr{
        
        width: 3rem;
        margin-top: -4%;
        margin-bottom: 1rem;
        border: 0.8px solid {{item.colors.client-name}};
    }
    #content-blocks-{{forloop.index0}} p{
        color: {{item.colors.text}};;
        
    }

    #content-blocks-{{forloop.index0}} a{
        font-size: 1rem;
        padding: 1% 2%;
        display: inline-block;
        margin: 1%;
        color: {{item.colors.link-color}};
        background-color: {{item.colors.link-background-color}};
        border: 1px solid {{item.colors.link-border-color}};
    }
    #content-blocks-{{forloop.index0}} a:hover{
        color: {{item.colors.link-hover-color}};
        background-color: {{item.colors.link-hover-background-color}};
        border: 1px solid {{item.colors.link-hover-border-color}};
    }


/* Mobile Styles */

.xs-mob-show, .mob-show, .tabelet-show, .large-show{
  display: none; 
}

  @media(min-width:1920px){
  .large-hide { display: none; }
  .large-show { display: block; }

  }

  /* -md */
  @media(max-width: 1024px){


  }

  @media(max-width: 990px){



  }

  @media(max-width: 850px){



  }

  /* -sm */
  @media(max-width: 768px){
  .tablet-hide { display: none; }
  .tablet-show { display: block; }

  #content-blocks-{{forloop.index0}} h2{
        font-size: 2rem;
       
    }

  }

  @media(max-width: 660px){


  }

  /* -xs */
  @media(max-width:576px){
  .mob-hide { display: none; }
  .mob-show { display: block; }

  
  }


  @media(max-width: 450px){
  .xs-mob-hide { display: none; }
  .xs-mob-show { display: block; }
  
  
  }

  @media(max-width: 400px){


  }

  @media(max-width: 350px){


  }


</style>

<section id="content-blocks-{{forloop.index0}}">
    <section class = "padded-sides" id = "{{item.content-block-id}}" >
        
        <div class = "grid-center">
            <div class = "col-5_sm-6_xs-10">
                <div class = "bg-image" style = "background-image: url('{{item.logo.image}}');">
               </div>
            </div>
            <div class = "col-4-bottom_sm-5_xs-10">
                    <div class = "bg-testimonial">
                        <h3>{{item.testimonial.client-name}}</h3>
                        <hr>
                        {{item.testimonial.textarea_html}}
                    </div>
            </div>
            
        </div>
    </section>
</section>